<!-- Abertura do modal para criação de nova pergunta -->
<button class="btn btn-sm btn-outline-primary m-3" (click)="openNewQuestion()">Nova pergunta</button>

<!-- Modal com o formulário de criação de nova pergunta -->
<app-modal title="Nova pergunta" buttonName="Publicar" (confirm)="saveQuestion()" (cancel)="cancelNewQuestion()"
  [show]="displayNewQuestion" [confirmDisabled]="formNewQuestion.invalid">
  <app-post-form [formNewPost]="formNewQuestion"></app-post-form>
</app-modal>

<!-- Exibição da lista com todas as perguntas -->
<h2 class="mt-2"><i class="fa fa-history mr-2"></i>Últimas perguntas</h2>
<div class="list-unstyled mt-3" *ngIf="questions">
  <div *ngFor="let question of questions">
    <app-post [post]="question"></app-post>
  </div>
</div>