<!-- Abertura do modal para criação de nova pergunta -->
<button class="btn btn-sm btn-outline-primary m-3" (click)="openNewQuestion()">Nova pergunta</button>

<!-- Modal com o formulário de criação de nova pergunta -->
<app-modal title="Nova pergunta" buttonName="Publicar" (confirm)="saveQuestion()" (cancel)="cancelNewQuestion()"
  [show]="displayNewQuestion" [confirmDisabled]="formNewQuestion.invalid">
  <app-post-form [formNewPost]="formNewQuestion"></app-post-form>
</app-modal>

<!-- Filtro para as perguntas -->
<div class="form-inline">
  <h2 class="mt-2"><i class="fa fa-history mr-2"></i>Últimas perguntas</h2>
  <input [(ngModel)]="searchText" class="form-control-sm ml-4 mr-4" placeholder="Palavra chave na pergunta">

  <div class="form-check ">
    <input (change)="getNoAnswer($event)" class="form-check-input" type="checkbox" id="noAnswer">
    <label class="form-check-label" for="noAnswer"> Perguntas não respondidas </label>
  </div>
</div>

<!-- Exibição da lista com todas as perguntas -->
<div class="list-unstyled mt-3" *ngIf="questionsFiltered">
  <div *ngFor="let question of questionsFiltered | filter : searchText">
    <app-post [post]="question" (like)="like(question.id)"></app-post>
  </div>
</div>